@charset "utf-8";
*{
	margin:0;
	padding:0;
	list-style:none;
	font-size:14px;
	font-family:"Helvetica Neue",Helvetica,Arial,"STHeiti","Microsoft YaHei";
	box-sizing:border-box;
}
img{
	vertical-align:top;
	border:none;
}
a{
	text-decoration:none;
	border:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.text-center{
	text-align:center;
}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}

/*nav*/
@media (max-width: 460px){
	#nav{
		display:none;
	}
}
.nav{
	width:100%;
	height:50px;
	background:#222;
	border-bottom:1px solid #000;
}
.nav-fixed-top{
	position:fixed;
	position:_absolute;
	top:0;
	left:0;
	z-index:99;
}
.nav-inverse{
	margin:auto auto;
}
.nav-inverse .logo{
	width:100px;
	height:50px;
	line-height:50px;
}
.nav-inverse .logo a{
	width:70px;
	height:50px;
	display:block;
	float:right;
}
.nav-inverse .logo a img{
	width:80%;
}
.nav-right{
	height:50px;
}
.nav-right ul{
	height:100%;
}
.nav-right ul li{
	float:left;
	z-index:1;
	position:relative;
}
.nav-right ul li a{
	color:#9d9d9d;
	display:block;
	padding:15.5px 15px;
	font-size:14px;
	font-family:"Helvetica Neue",Helvetica,Arial,"STHeiti","Microsoft YaHei";
}
.nav-right ul li a:hover{
	color:#fff;
}
.col-md-3:after{
	content:"";
	position:absolute;
	left:-1px;
	top:0;
	width:0;
	height:50px;
	background-color:#000;
	transition:all .5s ease;
	z-index:-1;
}
.col-md-3:hover:after{
	width:100%;
}
.con-f .con{
	background:#222;
	color:#fff;
	position:absolute;
	right:-200px;
	top:50px;
	opacity:0;
	width:200px;
}
.con-f{
	position:relative;
}
/*INTRODUCE*/
.introduce{
	width:100%;
	margin-top:130px;
	margin-bottom:80px;
	padding:0 10px;
	position:relative;
}
#pic1{
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	transition:3s all ease .5s;
	opacity:0;		
}
.introduce:hover #pic1{
	opacity:1;
	left:90%;
	top:0%;
}
.row{
	margin-bottom:30px;
	margin-left:-5px;
	margin-right:-5px;
	height:100%;
}
.title{
	margin-bottom:40px;
	color:#03F;
	font-size:36px;
	font-weight:normal;
}
.container{
	margin:auto auto;
}
#container>div{
	opacity:0;
}
@media (min-width: 1200px)
.container {
	width: 1150px;
}

@media (min-width: 992px)
.container {
	width: 950px;
}
@media (min-width: 768px)
.container {
	width: 730px;
}
.com-xs-12{
	width:200px;
	height:200px;
	overflow:hidden;
	border-radius:30px;
	margin:0 auto;
}
.com-xs-12 img{
	width:100%;
	height:100%;
}
.col-sm-8 h4{
	color:#fff;
	font-size:18px;
	font-weight:normal;
}
.col-xs-6{
	width:50%;
	padding:0 5px;
}
.a-link{
	position:relative;
	overflow:hidden;
	width:130px;
	height:50px;
	border:1px solid rgba(255,255,255,.65);
	border-radius:50px;
	line-height:50px;
	color:rgba(255,255,255,.65);
	font-size:18px;
	display:inline-block;
	z-index:1;
}
.a-link:after{
	content:"";
	position:absolute;
	left:-1px;
	top:0;
	width:0;
	height:50px;
	border-radius:50px;
	background-color:#09C;
	transition:all .5s ease;
	z-index:-1;
}
.a-link:hover:after{
	width:100%;
}
/*service*/
#service{
	background:url(../img/18560fdccac9aa7.jpg) no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
.service-container{
	margin:0 auto;
	padding:0 5px;
	height:100%;
}
.col-sm-3{
	height:400px;
	color:##f6f7ff;
	width:25%;
	position:relative;
	transition:all .5s ease;
	float:left;
}
@media (min-width: 770px){
	#service{
		height:400px;
	}
}
@media (max-width: 770px){
	.col-sm-3{
		width:100%;
	}
}
.mask-item{
	position:absolute;
	left:0;
	right:0;
	top:60%;
	transform:translateY(-50%);
}
.mask-item h3{
	color:#fff;
	font-size:22px;
	font-weight:normal;
	margin-top:20px;
	margin-bottom:15px;
}
.mask-item-3 p{
	color:#fff;
	height:80px;
	margin:0 15px;
	opacity:0;
}
#service .col-sm-3:hover {
	background-color: rgba(0,0,0,0.8);
	color: #49C9DE;
}
#service .col-sm-3:hover .mask-item-3{
	transition:2s all ease;
	margin-top:-20px;
}
#service .col-sm-3:hover .idea-icon i{
	color:#069;
}
#service .col-sm-3:hover h3{
	color:#069;
}
#service .col-sm-3:hover p{
	opacity:1;
	color:#069;
} 
/*声明字体*/
@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.eot'); /* IE9*/
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/*使用字体*/
.iconfont{
	font-family:"iconfont" !important;
	font-size:4em;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.idea-icon i{
	color:#fff;
}	
/*project*/
.project{
	width:100%;
	height:100%;
	margin:80px auto;
	padding:0 10px;
}
#banner{
	width:80%;
	height:500px;
	position:relative;
	margin:0 auto;
	overflow:hidden;
}
#banner ul{
	position:absolute;
	left:0;
	top:0;
}
#banner ul li{
	width:1065px;
	height:500px;
	float:left;
	position:relative;
}
#banner ul li img{
	width:1065px;
	height:500px;
}
#banner ol{
	width:120px;
	position:absolute;
	bottom:5px;
	left:50%;
	margin-left:-60px;
}
#banner ol li{
	width:20px;
	height:20px;
	background:#666;
	border-radius:50%;
	margin:4px;
	float:left;
}
#banner ol li.active{
	background:#ccc;
}
#banner .prev,#banner .next{
	width:50px;
	height:50px;
	background:rgba(255,255,255,0.2);
	transition:0.4s all ease;
	opacity:0;
	position:absolute;
	top:50%;
	z-index:2;
	margin-top:-40px;
	text-decoration:none;
	text-align:center;
	line-height:50px;
}
#banner .prev{
	left:0;
}
#banner .next{
	right:0;	
}
#banner a:hover{
	background:rgba(255,255,255,0.3);
}
#banner ul li .banner-content{
	position:absolute;
	left:0;
	top:50px;
	background:rgba(0,0,255,.3);
	font-size:18px;
	width:300px;
	text-align:center;
	color:#fff;
	padding:5px;
}
#banner ul li .banner-con{
	width:80px;
	height:30px;
	color:#fff;
	background:rgba(0,51,255,.3);
	text-align:center;
	line-height:30px;
	position:absolute;
	left:100px;
	top:150px;
	border-radius:5px;
}
/*dome*/
.dome{
	width:100%;
	height:100%;
	margin:80px auto;
	padding:0 10px;
}
#dome-all{
	width:1080px;
	height:270px;
	margin:0 auto;
}
#dome-all ul{
	width:250px;
	height:250px;
	overflow:hidden;
	float:left;
	margin:10px;
	position:relative;
}
#dome-all ul img{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
}
#dome-all ul div{
	text-align:center;
	margin-top:70px;
	color:#fff;
	background:rgba(0,0,0,.2);
	padding:5px;
}
#dome-all li a{
	color:#fff;
	background:rgba(0,255,204,.5);
	padding:3px;
}
#dome-all li{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:-100%;
	background:rgba(0,204,255,.5);
	line-height:250px;
	text-align:center;
}
@media (max-width: 1100px){
	#dome-all {
		width:540px;
		height:540px;
	}
}
@media (max-width: 550px){
	#dome-all {
		width:270px;
		height:1080px;
	}
}
#dome-all li a{
	font-size:20px;
	color:#000;
	text-decoration:none;
}
/*contact*/
.contact .col-sm-4{
	height:150px;
	width:33.3333%;
	position:relative;
}
.col-sm-4:hover .mask-item{
	transition:1s all ease;
	margin-top:-10px;
}
/*声明字体*/
@font-face {
	font-family: 'iconfont';
	src: url('../font1/iconfont.eot'); /* IE9*/
	src: url('../font1/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font1/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font1/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font1/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/*使用字体*/
.iconfont{
	font-family:"iconfont" !important;
	font-size:3em;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.idea-icon i{
	color:#fff;
}
.mask-item p{
	margin-top:10px;
	color:#fff;
	height:80px;
}
/*返回顶部*/
#btn2{
	width:70px;
	height:70px;
	text-align:center;
	line-height:70px;
	background:#06F;
	position:fixed;
	position:_absolute;
	bottom:20px;
	right:0;
	display:none;
}
#btn2 a{
	color:#fff;
}

